<template name="projects">
  <section id="portfolio" class="page">
    <div class="container">
      <div class="content text-center">
        <div class="heading">
          <h2>Featured Projects</h2>
          <p>Here are some of the cool projects being created at Purdue</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="gallery">
              <!-- <ul class="filters list-inline">
                <li>
                  <a class="active" data-filter="*" href="#">All</a>
                </li>
                <li>
                  <a data-filter=".web" href="#">Web</a>
                </li>
                <li>
                  <a data-filter=".graphic" href="#">Mobile</a>
                </li>
                <li>
                  <a data-filter=".photography" href="#">Engineering</a>
                </li>
              </ul> -->
              <ul class="items list-unstyled clearfix">
                {{#each projects}}
                <li class="item web">
                  <a href="/projects/{{id}}" title="{{name}}">
                    <img src="{{pictureUrl}}" alt="{{name}}">
                    <div class="overlay"><span>{{name}}</span></div>
                  </a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
