<template name="dashboard">






  <!-- BEGIN PROJECTS -->
  <section id="portfolio" class="page">
    <div class="container">
      <div class="content text-center">
        <div class="heading">
          <h2>Featured Projects</h2>
          <p>Here are some of the cool projects being created at Purdue</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="gallery">
              <ul class="filters list-inline">
                <li>
                  <a class="active" data-filter="*" href="#">All</a>
                </li>
                <li>
                  <a data-filter=".web" href="#">Web</a>
                </li>
                <li>
                  <a data-filter=".graphic" href="#">Mobile</a>
                </li>
                <li>
                  <a data-filter=".photography" href="#">Engineering</a>
                </li>
              </ul>


                <ul class="items  list-unstyled clearfix">
                <li class="item web">
                  <a href="project-detail.html" title="Portfolio 1">
                    <img src="../html/assets/img/gallery/1.png" alt="">
                    <div class="overlay"><span>Project 1</span></div>
                  </a>
                </li>
                <li class="item graphic">
                  <a href="../html/assets/img/gallery/2.png" title="Portfolio 2">
                    <img src="../html/assets/img/gallery/2.png" alt="">
                    <div class="overlay"><span>Project 2</span></div>
                  </a>
                </li>
                <li class="item photography">
                  <a href="../html/assets/img/gallery/3.png" title="Portfolio 3">
                    <img src="../html/assets/img/gallery/3.png" alt="">
                    <div class="overlay"><span>Project 3</span></div>
                  </a>
                </li>
                <li class="item web">
                  <a href="../html/assets/img/gallery/4.png" title="Portfolio 4">
                    <img src="../html/assets/img/gallery/4.png" alt="">
                    <div class="overlay"><span>Project 4</span></div>
                  </a>
                </li>



              </ul>
            </div>
          </div>
        </div>
        <button class="btn btn-primary">See More</button>
      </div>

    </div>






    </section>
  <!-- END PROJECTS -->

  <!-- BEGIN PEOPLE -->
  <section id="about" class="page">
    <div class="container">
      <div class="content text-center">
        <div class="heading">
          <h2>Featured People</h2>
          <p>Meet some of the cool people working on projects at Purdue</p>
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="profile">
              <img src="../html/assets/img/user/avatar01.png" alt="">
              <span class="name">John Doe</span>
              <span class="position">Web Developer</span>
              <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
              <span class="contact">

                <a href="#"><i class="fa fa-linkedin"></i></a>
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="profile">
              <img src="../html/assets/img/user/avatar02.png" alt="">
              <span class="name">Jane Doe</span>
              <span class="position">Designer</span>
              <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
              <span class="contact">

                <a href="#"><i class="fa fa-linkedin"></i></a>
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="profile">
              <img src="../html/assets/img/user/avatar01.png" alt="">
              <span class="name">James Doe</span>
              <span class="position">Programmer</span>
              <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
              <span class="contact">

                <a href="#"><i class="fa fa-linkedin"></i></a>
              </span>
            </div>
          </div>
          <div class="col-md-3">
            <div class="profile">
              <img src="../html/assets/img/user/avatar02.png" alt="">
              <span class="name">Janet Doe</span>
              <span class="position">Mobile Developer</span>
              <span class="description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</span>
              <span class="contact">

                <a href="#"><i class="fa fa-twitter"></i></a>

                <a href="#"><i class="fa fa-linkedin"></i></a>
              </span>
            </div>
          </div>
        </div>
        <button class="btn btn-primary">See More</button>
      </div>
    </div>
  </section>
  <!-- END People -->
</template>
