<template name="navbar">
  <!-- start: navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
      <div class="container">
        <a data-toggle="collapse" data-target=".nav-collapse" class="btn btn-navbar">
          <span><i class="icon-reorder"></i></span>
        </a>
        <a class="brand" href="/"><span><i class="icon-stop"></i></span>PurdueMade</a>
        <div id="top-navigation" class="nav-collapse subnav-collapse collapse ">
          <ul class="nav pull-right">
            {{#if loggedIn}}
              <li class="top-account visible-desktop">
                <a id="logoutButton" class="top-sign-in">
                  Logout
                </a>
              </li>
              <li class="top-account visible-desktop">
                <a id="feedButton" class="top-sign-in" href="/feed">
                  News Feed
                </a>
              </li>
            {{else}}
              <li class="top-account visible-desktop">
                <script type="in/Login"></script>
              </li>
            {{/if}}
            <li class="top-account visible-desktop">
              <a id="peopleButton" class="top-sign-in" href="/people">
                People
              </a>
            </li>
            <li class="top-account visible-desktop">
              <a id="projectsButton" class="top-sign-in" href="/projects">
                Projects
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div><!--end: navbar -->
  {{> loginModal}}
</template>
