<template name="people">
  <section id="about" class="page">
    <div class="container">
      <div class="content text-center">
        <div class="heading">
          <h2>Featured People</h2>
          <p>Meet some of the cool people working on projects at Purdue</p>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="gallery">
              <!-- <ul class="filters list-inline">
                <li>
                  <a class="active" data-filter="*" href="#">All</a>
                </li>
                <li>
                  <a data-filter=".web" href="#">Web</a>
                </li>
                <li>
                  <a data-filter=".graphic" href="#">Mobile</a>
                </li>
                <li>
                  <a data-filter=".photography" href="#">Engineering</a>
                </li>
              </ul> -->
            </div>
          </div>
        </div>
        <div class="row">
          {{#each people}}
            {{> personBlurb}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>
</template>
