<template name="personBlurb">
<div class="span3">
  <div class="white-content">
    <div class="img-mask hover-mask">
      <img src="{{pictureUrl}}">
      <div class="flip-container">
        <div class="flipper">
          <div class="back">
            <div class="flip-b">
              <a href="/people/{{id}}">
                <span class="icon-back"><i class="icon-plus-sign"></i></span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <span class="hover-fade"><i class="icon-plus-sign icon-3x"></i></span>
    </div>
    <a href="/people/{{id}}">
      <h5>{{firstName}} {{lastName}}<span class="white-title"><i class="icon-plus"></i></span></h5>
    </a>
    <a href="/people/{{id}}">
      <h5>{{major}} | {{year}}<span class="white-title"></span></h5>
    </a>
    <p>{{bio}}</p>
  </div>
</div>
</template>
