<template name="project">
  {{#with project}}
  <div class="project-profile">
    <section id="services" class="page">
      <div class="container">
        <div class="content">
          <div class="heading">
            <div class="row">
              <div class="col-xs-4">
                <img class="picture" src="{{pictureUrl}}" alt="{{name}}">
                <span class="portfolio-actions text-center btn-group" role="group">
                  <a class="btn btn-default" href="{{Url}}">Visit Site</a>
                  {{#if following}}
                    <a id="unfollow" class="btn btn-default active" href="javascript:void(0);">Following</a>
                  {{else}}
                    <a id="follow" class="btn btn-default" href="javascript:void(0);">Follow</a>
                  {{/if}}
                  {{#if userIsAdmin}}
                    <a class="btn btn-default" href="/editProject/{{id}}">Edit Profile</a>
                  {{/if}}
                </span>
              </div>
              <div class="col-xs-8">
                <h2 class="title">{{name}}</h2>
                <h3 class="lead">{{numFollowers}} Followers</h3>
                <p class="description">{{description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="about" class="page">
      <div class="container">
        <div class="content text-center">
          <div class="heading">
            <h2>Team</h2>
          </div>
          <div class="row">
            {{#each team}}
              {{> personBlurb}}
            {{/each}}
          </div>
        </div>
      </div>
    </section>
  </div>
  {{/with}}
</template>
