<template name="editPerson">
  <!--start: send comment -->
  <div class="container">
    <div class="row">
      <div class="span8 white-content post-form">
        <div class="separator">
          <div class="left">
            <div class="lines">
              <div>
              <h2 class="lines-title">Edit Your profile</h2>
              </div>
            </div>
          </div>
        </div>
        <form method="post">
          <div class="clearfix">
            <p class="notice"></p>
          </div>
          <div class="clearfix">
            <div class="input">
              <input id="major" type="text" placeholder="Major or Field of Study" class="span3" value="{{major}}">
              <input id="year" type="text" placeholder="Graduation Year" value="{{year}}" class="span3">
            </div>
          </div>
          <span class="visual"><i class="icon-user"></i></span>
          <div class="actions">
            <button tabindex="3" id="save" class="btn btn-color">Update</button>
          </div>
        </form>
      </div><!--end: send comment  -->
    </div>
  </div>
</template>
