<template name="editPerson">
  <section id="contact" class="page">
    <div class="container">
      <div class="content text-center">
        <div class="heading">
          <h2>Enter your Details</h2>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <div class="form text-left">
              <form role="form">
                <div class="col-md-12">
                  <div class="form-group">
                    <label>Major</label>
                    <input type="text" class="form-control" placeholder="Major" value="{{major}}">
                  </div>
                  <div class="form-group">
                    <label>Year</label>
                    <input type="text" class="form-control" placeholder="Grad Year" value="{{year}}">
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>
