<template name="editProfile">
  <!--start: send comment -->
  <div class="container">
    <div class="row">
      <div class="span8 white-content post-form">
        <div class="separator">
          <div class="left">
            <div class="lines">
              <div>
              <h2 class="lines-title">Edit Your profile</h2>
              </div>
            </div>
          </div>
        </div>
        <form method="post">
          <div class="clearfix">
            <div class="input">
              <input id="major" type="text" placeholder="Major or Field of Study" class="span3">
              <input id="year" type="text" placeholder="Graduation Year" class="span3">
            </div>
          </div>
          <span class="visual"><i class="icon-user"></i></span>
          <div class="clearfix">
            <div class="input">
              <input id="interest1" type="text" placeholder="Interest" class="span2">
              <input id="interest2" type="text" placeholder="Interest" class="span2">
              <input id="interest3" type="text" placeholder="Interest" class="span2">
            </div>
          </div>
          <div class="clearfix">
            <div class="input">
              <input id="interest4" type="text" placeholder="Interest" class="span2">
              <input id="interest5" type="text" placeholder="Interest" class="span2">
              <input id="interest6" type="text" placeholder="Interest" class="span2">
            </div>
          </div>
          <div class="field clearfix">
            <textarea id="bio" placeholder="Tell the community about yourself" class="text textarea"></textarea>
          </div>
          <div class="actions">
            <button tabindex="3" id="save" class="btn btn-color">Update</button>
          </div>
        </form>
      </div><!--end: send comment  -->
    </div>
  </div>
</template>
