<template name="person">
  {{#with person}}
  <section id="services" class="page">
    <div class="container">
      <div class="content text-center">
        <div class="heading">
          <img src="{{pictureUrl}}" alt="{{firstName}} {{lastName}}">
          <!-- TODO: fullname -->
          <h2>{{firstName}} {{lastName}}</h2>
          <h2 class="lead">{{major}} | {{year}}</h2>
          <h2><small>{{position}}</small></h2>
          <p>{{bio}}</p>
          <!-- <ul>
          {{#each skills}}
            <li>
              <a class="side-tag " href="#">{{this}}</a>
            </li>
          {{/each}}
          </ul>
          <ul>
          {{#each interests}}
            <li>
              <a class="side-tag " href="#">{{this}}</a>
            </li>
          {{/each}}
          </ul> -->
        </div>
      </div>
    </div>
  </section>
  <section id="portfolio" class="page">
    <div class="container">
      <div class="content text-center">
        <div class="heading">
          <h2>{{firstName}}'s Projects</h2>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div id="gallery">
              <!-- <ul class="filters list-inline">
                <li>
                  <a class="active" data-filter="*" href="#">All</a>
                </li>
                <li>
                  <a data-filter=".web" href="#">Web</a>
                </li>
                <li>
                  <a data-filter=".graphic" href="#">Mobile</a>
                </li>
                <li>
                  <a data-filter=".photography" href="#">Engineering</a>
                </li>
              </ul> -->
              <ul class="items popup-gallery list-unstyled clearfix">
                {{#each projects}}
                <!-- TODO: categories - graphic, photography, etc. -->
                <li class="item web">
                  <a href="/projects/{{id}}" title="{{name}}">
                    <img src="{{pictureUrl}}" alt="{{name}}">
                    <div class="overlay"><span>{{name}}</span></div>
                  </a>
                </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  {{/with}}
</template>
