<template name="person">
  {{#with person}}
    <!-- start: title -->
    <div class="page-title">
      <div class="section-wrapper">
        <div class="container">
          <h2>{{firstName}} {{lastName}}</h2>
        </div>
      </div>
    </div><!-- end: title -->
    <!-- start: post -->
    <div class="section-wrapper section-blog">
      <div class="container">
        <div class="row">
          <div class="span3">
            <div class="white-content3">
              <div class="side-pic2">
                 <img src="{{pictureUrl}}">
              </div>
            </div>
          </div>
          <div class="span5">
            <div class="white-content extra-padding">
              <div class="separator">
                <div class="left">
                  <div class="lines">
                    <div>
                      <h2 class="lines-title">Bio</h2>
                    </div>
                  </div>
                </div>
              </div>
              <p>{{bio}}</p>
            </div>
          </div>
          <!-- start: sidebar -->
          <div class="span4">
            <div class="tags">
              <div class="separator">
                <div class="left">
                  <div class="lines">
                    <div>
                      <h2 class="lines-title">Major</h2>
                    </div>
                  </div>
                </div>
              </div>
              <ul>
                <li>
              <a class="side-tag " href="#">{{major}}</a>
                  <a class="side-tag " href="#">{{year}}</a>
                </li>
              </ul>
            </div>
            <div class="tags">
              <div class="separator">
                <div class="left">
                  <div class="lines">
                    <div>
                    <h2 class="lines-title">Skills</h2>
                    </div>
                  </div>
                </div>
              </div>
              <ul>
                {{#each skills}}
                  <li>
                    <a class="side-tag " href="#">{{this}}</a>
                  </li>
                {{/each}}
              </ul>
            </div>
            <div class="tags">
              <div class="separator">
                <div class="left">
                  <div class="lines">
                    <div>
                      <h2 class="lines-title">Interests</h2>
                    </div>
                  </div>
                </div>
              </div>
              <ul>
                {{#each interests}}
                  <li>
                    <a class="side-tag " href="#">{{this}}</a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div><!-- end: sidebar -->
        </div>
      </div>
    </div><!-- end: post -->
    <!-- start: lastest-work -->
    <div class="section-wrapper2 lastest-work">
      <div class="container">
        <div class="row">
          <div class="span12">
            <div class="separator">
              <div class="left">
                <div class="lines">
                  <div>
                    <h2 class="lines-title">Projects</h2>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {{#each projects}}
            <div class="span3">
              <div class="white-content">
                <div class="img-mask hover-mask">
                  <img src="{{pictureUrl}}">
                  <div class="flip-container">
                    <div class="flipper">
                      <div class="back">
                        <div class="flip-b">
                          <a href="/projects/{{id}}"><span class="icon-back"><i class="icon-plus-sign"></i></span></a>
                        </div>
                      </div>
                    </div>
                  </div>
                  <span class="hover-fade"><i class="icon-plus-sign icon-3x"></i></span>
                </div>
                <a href="/projects/{{id}}"><h5>{{name}}<span class="white-title"><i class="icon-plus"></i></span></h5></a>
                <p>{{description}}</p>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    </div><!-- end: lastest-work -->
  {{/with}}
</template>
